/* line 1, ../../app/styles/test.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, ../../app/styles/test.scss */
body {
  line-height: 1;
}

/* line 20, ../../app/styles/test.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../../app/styles/test.scss */
blockquote, q {
  quotes: none;
}

/* line 26, ../../app/styles/test.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 32, ../../app/styles/test.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 35, ../../app/styles/test.scss */
ins {
  text-decoration: none;
}

/* line 38, ../../app/styles/test.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 42, ../../app/styles/test.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
	background-color: #ffffff;
	min-width: 1024px;
}

ul {
	list-style: none;
}

a, a:hover, a:active {
	text-decoration: none;
	color: #222222;
}

.ui_mc_toolbar {
	margin-left: auto;
	margin-right: auto;
	background: #ffffff url("../images/logo.png") no-repeat left top;
	height: 38px;
}

.ui_mc_toolbar .login_info {
	float: right;
	margin: 0px;
	margin-right: 105px;
}

.ui_mc_toolbar .login_info li {
	float: left;
	font-size: 12px;
	border-right: 1px solid #f1f1f1;
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	line-height: 18px;
	vertical-align: middle;
}

.ui_mc_toolbar .login_info li:last-child {
	border-right: none;
}

.ui_mc_navbar {
	height: 30px;
	background-color: #fb8300;
	border-bottom: 1px solid #ffffff;
}

.ui_mc_navbar .menu_item {
	height: 30px;
}

.ui_mc_navbar .menu_item li {
	float: left;
	line-height: 30px;
	padding: 0px 10px 0px 10px;
}

.ui_mc_navbar .menu_item li a {
	font-size: 16px;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

.ui_mc_navbar .menu_item li[active=true] {
	background-color: #f07600;
}

.ad {
	height: 334px;
}

.ad .switch_btn {
	zoom: 1;
	clear: both;
	height: 15px;
	width: 100px;
	padding-top: 300px;
	z-index: 100;
	position: absolute;
}

.ad .switch_btn li {
	float: left;
	height: 15px;
	width: 15px;
	background-color: #ffffff;
	margin: 0px 8px 0px 8px;
	cursor: pointer;
}

.ad .ad_img li img {
	float: left;
	height: 334px;
}

.ui_mc_toolbar, .ui_mc_navbar, .ad, .ad .ad_img li img, .recommend {
	width: 100%;
}

.ui_mc_content .recommend {
	width: 100%;
	height: 100px;
}

.ui_mc_content .recommend li {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 80px;
	float: left;
	width: 32.5%;
	padding-right: 10px;
}

.ui_mc_content .recommend li:last-child {
	float: right;
	padding-right: 0px;
}

.ui_mc_content .recommend li img {
	width: 100%;
	height: 100%;
}

.ui_mc_content .tags {
	margin-top: 25px;
}

.ui_mc_content  .tags  .title {
	height: 26px;
	background-color: #f6f6f6;
	width: 100%;
}

.ui_mc_content  .tags  .title span {
	height: 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	background-color: #fb8300;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.ui_mc_content>.content {
	margin-top: 18px;
}

.tag_row {
	border: 1px solid #f1f1f1;
	border-top: none;
	padding: 9px 0px 9px 0px;
}

.tag_row:first-child {
	border-top: 1px solid #f1f1f1;
}

.tag_row>span {
	display: block;
	float: left;
	line-height: 16px;
	vertical-align: middle;
	font-size: 14px;
}

.tag_row>span>img {
	margin-left: 18px;
	margin-right: 15px;
	width: 24px;
	height: 16px;
	float: left;
}

.tag_items {
	height: 16px;
}

.tag_items li {
	padding: 0px 7px 0px 7px;
	height: 16px;
	float: left;
	line-height: 16px;
	vertical-align: middle;
	font-size: 14px;
}

.tag_items li[active=true] {
	background-color: #fe3000;
}

.tag_items li[active=true] a {
	color: #ffffff;
	font-weight: bolder;
}

.active_plan {
	width: 99.8%;
	border: 1px solid #eaeaea;
	margin-top: 12px;
	height: 238px;
}

.active_plan img {
	width: 45%;
	float: left;
	margin: 10px;
	height: 218px;
}

.active_plan .desc {
	margin: 10px;
	width: 50%;
	float: right;
	clear: right;
}

.active_plan .desc h1 {
	font-weight: bolder;
	font-size: 16px;
	line-height: 24px;
	vertical-align: middle;
	color: #666666;
}

.active_plan .desc h1 b {
	color: #fe3000;
}

.active_plan .desc h2 {
	font-weight: bolder;
	color: #888888;
	font-size: 14px;
	line-height: 18px;
	vertical-align: middle;
}

.desc_table {
	margin-top: 20px;
}

.desc_table .tag_row {
	border: none;
	padding: 2px 0px 2px 0px;
}

.desc_table .tag_row span {
	width: auto;
	text-align: left;
	color: #888888;
	font-weight: 400;
}

.desc_table .divider {
	border: none;
	border-top: 1px dotted #eaeaea;
}

.ui_mc_value {color: #fb8300 !important;}

.desc_table .tag_row .tag_items li {color: #888888;}

.ui_mc_pagination_bar {
	width: 100%;
	padding: 7px 0px 7px 0px;
	float: left;
	margin-top: 57px;
	clear: both;
	height: 30px;
	text-align: center;
}

.ui_mc_pagination_bar .ui_mc_pagination {
	height: 16px;
	clear: both;
	display: inline-block;
}

.ui_mc_pagination_bar .ui_mc_pagination li {
	padding: 3px 6px 3px 6px;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	float: left;
	font-size: 12px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:0px 4px 0px 4px; 
}

.ui_mc_pagination_bar .ui_mc_pagination li[active=true]{background-color:#fb8300;}
.ui_mc_pagination_bar .ui_mc_pagination li[active=true] a{color:#ffffff;}
.ui_mc_pagination_bar .ui_mc_pagination li:hover{background-color:#f2f2f2;}


.ui_mc_pagination_bar>.ui_mc_pagination>li:first-child,
	.ui_mc_pagination_bar>.ui_mc_pagination>li:last-child {
	background-color: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

div.ui_mc_ad_card {
	float: left;
	width: 100%;
	height: 60px;
	margin-top: 25px;
}

div.ui_mc_ad_card img {
	float: left;
	width: 100%;
	height: 100%;
}

.ui_mc_advantage {
	float: left;
	width: 100%;
	margin-top: 32px;
	height: 55px;
}

.ui_mc_advantage .advantage {
	float: left;
	width: 32.5%;
	height: 55px;
}

.ui_mc_advantage .advantage img {
	width: 54px;
	height: 54px;
	float: left;
	margin-right:10px;
}

.ui_mc_advantage .advantage > p > span{
	font-size:12px;
}

.ui_mc_advantage .advantage > p > span > b{
	font-weight:bolder;
	font-size:14px;
	display:block;
	margin-bottom:5px;
}

.ui_mc_footer {
	border-top: 1px dotted #dfdfdf;
	float: left;
	width: 100%;
	height: 93px;
	margin-top: 39px;
}

.ui_mc_footer .about {
	display: block;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	margin: 0px auto;
	width: 320px;
	margin-top: 32px;
}

.ui_mc_footer .about li {
	float: left;
	border-right: 1px solid #333333;
}

.ui_mc_footer .about li:last-child {
	border-right: none;
}

.ui_mc_footer .about li a {
	color: #3e85aa;
	margin: 0px 7px 0 7px;
	font-size: 14px;
}

.ui_mc_footer .link {
	display: block;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	margin: 0px auto;
	width: 290px;
	margin-top: 16px;
}

.ui_mc_footer .link li {
	float: left;
}

.ui_mc_footer .link li, .ui_mc_footer .link li a {
	color: #666666;
	margin: 0px 3px 0 3px;
	font-size: 12px;
}

.ui_mc_footer .copyright {
	height: 37px;
	width: 100%;
	text-align: center;
	display: block;
	line-height: 37px;
	vertical-align: middle;
	background-color: #373636;
	color: #666666;
	margin-top: 20px;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
	.ui_mc_top, .ui_mc_content, .ui_mc_navbar .menu_item {
		width:819px;
		margin-left:auto;
		margin-right:auto;
	}
	
	/* line 47, ../../app/styles/test.scss */
	.clearfix {
	  display: block;
	}
	
	/* line 51, ../../app/styles/test.scss */
	.clearfix:after {
	  content: ".";
	  display: block;
	  height: 0px;
	  clear: both;
	  visibility: hidden;
	}
	
	/* line 93, ../../app/styles/test.scss */
	.ui_mc_rec {
	  clear: both;
	  margin-top: 30px;
	}
	/* line 97, ../../app/styles/test.scss */
	.ui_mc_rec .title {
	  display: block;
	  height: 46px;
	  border-bottom: 1px solid #f3f3f3;
	  line-height: 46px;
	  text-align: center;
	  font-family: "Microsoft YaHei";
	  font-size: 18px;
	  font-weight: bolder;
	  margin: 0px auto;
	}
	/* line 106, ../../app/styles/test.scss */
	.ui_mc_rec .title .more {
	  font-size: 12px;
	  padding-left: 8px;
	  padding-right: 8px;
	}
	/* line 113, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 {
	  width: 100%;
	  text-align: center;
	}
	/* line 63, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul {
	  display: block;
	  float: left;
	  clear: both;
	  position: relative;
	  margin-left: -26px;
	}
	/* line 70, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul li {
	  float: left;
	  margin-left: 26px;
	  margin-top: 26px;
	}
	/* line 75, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul li img {
	  width: 255px;
	  height: 187px;
	}
	/* line 117, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 {
	  width: 100%;
	  text-align: center;
	}
	/* line 63, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul {
	  display: block;
	  float: left;
	  clear: both;
	  position: relative;
	  margin-left: -26px;
	}
	/* line 70, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul li {
	  float: left;
	  margin-left: 26px;
	  margin-top: 26px;
	}
	/* line 75, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul li img {
	  width: 185px;
	  height: 164px;
	}
	
	/* line 125, ../../app/styles/test.scss */
	.ui_mc_reason {
	  margin-top: 30px;
	}
	/* line 128, ../../app/styles/test.scss */
	.ui_mc_reason .title {
	  display: block;
	  height: 46px;
	  line-height: 46px;
	  text-align: left;
	  font-family: "Microsoft YaHei";
	  font-size: 18px;
	  font-weight: bolder;
	  margin-left: auto;
	  margin-right: auto;
	  color:#666666;
	}
	/* line 138, ../../app/styles/test.scss */
	.ui_mc_reason .text {
	  float: left;
	  margin-top: -30px;
	}
	/* line 142, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row {
	  margin-top: 30px;
	  margin-left: -30px;
	}
	/* line 146, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason {
	  float: left;
	  margin-left: 30px;
	}
	/* line 150, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content {
	  width: 182px;
	  float: left;
	}
	/* line 154, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content h1 {
	  font-size: 12px;
	  color:#333333;
	}
	/* line 158, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content span {
	  font-size: 10px;
	  color:#999999;
	}
	/* line 163, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason img {
	  float: left;
	  width: 72px;
	  height: 72px;
	  margin-right: 10px;
	}
	/* line 173, ../../app/styles/test.scss */
	.ui_mc_reason .media {
	  float: left;
	  margin-left: 30px;
	}
	/* line 177, ../../app/styles/test.scss */
	.ui_mc_reason .media img {
	  width: 231px;
	  height: 192px;
	}
		
}

@media only screen and (min-width: 1280px){
	
	.ui_mc_top, .ui_mc_content, .ui_mc_navbar .menu_item {
		width:1013px;
		margin-left:auto;
		margin-right:auto;
	}
	
	/* line 47, ../../app/styles/test.scss */
	.clearfix {
	  display: block;
	}
	
	/* line 51, ../../app/styles/test.scss */
	.clearfix:after {
	  content: ".";
	  display: block;
	  height: 0px;
	  clear: both;
	  visibility: hidden;
	}
	
	/* line 93, ../../app/styles/test.scss */
	.ui_mc_rec {
	  clear: both;
	  margin-top: 30px;
	}
	/* line 97, ../../app/styles/test.scss */
	.ui_mc_rec .title {
	  display: block;
	  height: 46px;
	  border-bottom: 1px solid #f3f3f3;
	  line-height: 46px;
	  text-align: center;
	  font-family: "Microsoft YaHei";
	  font-size: 18px;
	  font-weight: bolder;
	  margin: 0px auto;
	}
	/* line 106, ../../app/styles/test.scss */
	.ui_mc_rec .title .more {
	  font-size: 12px;
	  padding-left: 8px;
	  padding-right: 8px;
	}
	/* line 113, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 {
	  width: 100%;
	  text-align: center;
	}
	/* line 63, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul {
	  display: block;
	  float: left;
	  clear: both;
	  position: relative;
	  margin-left: -32px;
	}
	/* line 70, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul li {
	  float: left;
	  margin-left: 32px;
	  margin-top: 32px;
	}
	/* line 75, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_3 ul li img {
	  width: 316px;
	  height: 233px;
	}
	/* line 117, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 {
	  width: 100%;
	  text-align: center;
	}
	/* line 63, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul {
	  display: block;
	  float: left;
	  clear: both;
	  position: relative;
	  margin-left: -32px;
	}
	/* line 70, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul li {
	  float: left;
	  margin-left: 32px;
	  margin-top: 32px;
	}
	/* line 75, ../../app/styles/test.scss */
	.ui_mc_rec .rec_img_list_4 ul li img {
	  width: 228px;
	  height: 202px;
	}
	
	/* line 125, ../../app/styles/test.scss */
	.ui_mc_reason {
	  margin-top: 30px;
	}
	/* line 128, ../../app/styles/test.scss */
	.ui_mc_reason .title {
	  display: block;
	  height: 46px;
	  line-height: 46px;
	  text-align: left;
	  font-family: "Microsoft YaHei";
	  font-size: 18px;
	  font-weight: bolder;
	  margin-left: auto;
	  margin-right: auto;
	  color:#666666;
	}
	/* line 138, ../../app/styles/test.scss */
	.ui_mc_reason .text {
	  float: left;
	  margin-top: -30px;
	}
	/* line 142, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row {
	  margin-top: 30px;
	  margin-left: -30px;
	}
	/* line 146, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason {
	  float: left;
	  margin-left: 30px;
	}
	/* line 150, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content {
	  width: 230px;
	  float: left;
	}
	/* line 154, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content h1 {
	  font-size: 14px;
	  line-height: 24px;
	  color:#333333;
	}
	/* line 159, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason .content span {
	  line-height: 20px;
	  font-size: 12px;
	  color:#999999;
	}
	/* line 165, ../../app/styles/test.scss */
	.ui_mc_reason .text .reason_row .reason img {
	  float: left;
	  width: 90px;
	  height: 90px;
	  margin-right: 10px;
	}
	/* line 175, ../../app/styles/test.scss */
	.ui_mc_reason .media {
	  float: left;
	  margin-left: 30px;
	}
	/* line 179, ../../app/styles/test.scss */
	.ui_mc_reason .media img {
	  width: 288px;
	  height: 245px;
	}
	
}	
